:root {
    --color-background: black;
    --color-text: green;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    background-color: green;
}

body {
    min-height: 100vh;
    color: white;
    background: var(--color-background);
    line-height: 1.6;
    font-family: Inter, sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
}