<footer class="bg-dark text-light mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>FitLife</h5>
                <p>Ваш путь к здоровому образу жизни</p>
            </div>
            <div class="col-md-4">
                <h5>Ссылки</h5>
                <ul class="list-unstyled">
                    <li><a href="/pages/workouts.html" class="text-light">Тренировки</a></li>
                    <li><a href="/pages/blog.html" class="text-light">Блог</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <ul class="list-unstyled">
                    <li>Email: info@fitlife.com</li>
                    <li>Телефон: +7 (800) 555-35-35</li>
                </ul>
            </div>
        </div>
    </div>
</footer>