<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">FitLife</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/profile.html">Личный кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/workouts.html">Тренировки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/blog.html">Блог</a>
                    </li>
                </ul>
                <div class="nav-buttons">
                    <a href="/pages/login.html" class="btn btn-outline-light me-2">Вход</a>
                    <a href="/pages/register.html" class="btn btn-primary">Регистрация</a>
                </div>
            </div>
        </div>
    </nav>
</header>