################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/labs/K3343/Рахманов Владислав/lab3/fitness_platform_web/.venv/Lib/site-packages
/labs/K3343/Рахманов Владислав/lab3/fitness_platform_web/.venv/Scripts
/labs/K3343/Рахманов Владислав/lab3/fitness_platform_web/fitness_platform_frontend/.vscode
*.env
