* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 1% 3% 1% 3%;
}

.navbar a {
    color: #fff;
    margin: 0.5%;
    text-decoration: none;
    text-align: center;
    background-color: #333333;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: #555555;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 3% 5% 3%;
    height: auto;
}

.container p {
    margin-top: 1%;
    color: #bbb;
}

.main-banner-image {
    border-radius: 10px;
    overflow: hidden;
}

.main-banner-image img {
    width: 100%;
}

hr {
    border: none;
    background-color: #333333;
    height: 2px;
}

.semi-hr {
    margin: 0 3% 0 3%;
    background-color: #333333;
}

.posts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.post-card {
    flex: 1 1 calc(33.333% - 1%);
}

.card {
    background-color: #333333;
    border: none;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card h3{
    text-align: center;
}

.card p{
    text-align: center;
}

.posts {
    margin: 3% 3% 3% 3%;
}

.post-card button {
    padding: 10px 20px;
    margin: 1% 0 0 1%;
    background-color: #1d7e33;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

.post-card button:hover {
    background-color: #555;
}


.filters {
    margin: 3% 3% 0 3%;
}

.filter-section {
    margin: 1% 3% 1% 3%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    align-items: center;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.filter-section label {
    display: inline-flex;
    align-items: center;
    margin-right: 1%;
}

.filter-section input {
    margin-right: 5px;
    background-color: #555555;
}

.filter-section-date {
    background-color: #333333;
    border-radius: 10px;
    border-style: none;
    color: white;
    padding: 5px;
}

.filter-section select {
    padding: 5px;
    border-radius: 10px;
    background-color: #000;
    border-style: none;
    color: #bbbbbb;
}

.post-card {
    background-color: #333333;
    border-radius: 10px;
    padding: 20px;
    margin: 1% 0 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.post-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
}

.post-modal.show {
    display: block;
    opacity: 1;
}

.post-modal-content {
    background-color: #333333;
    margin: auto;
    padding: 2%;
    border: none;
    width: 70%;
    transition: transform 0.3s ease;
    transform: scale(0.7);
    color: white;
    display: flex;
    flex-direction: row;
}

.post-modal-info {
    flex: 1;
    background-color: #555;
    border-radius: 10px;
    text-align: center;
    margin: 0 2% 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.title {
    padding: 5% 5% 0 5%;
}

.modal-text {
    font-size: 1.5vw;
    text-align: left;
    padding: 5% 5% 5% 5%;
}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5% 0 5%;

}
.post-modal-info hr {
    background-color: white;
    border: none;
    height: 2px;
    margin: 2% 0 2% 0;
}

.comment-list li {
    color: #bbbbbb;
    margin: 5px 0;
}

#comment-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#comment-submit {
    background-color: #1d7e33;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#comment-submit:hover {
    background-color: #333333;
}


.close {
    position: relative;
    color: white;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.footer-info img {
    width: 10%;
    height: 10%;
    object-fit: contain;
}

