body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fbeaff;
    color: #333;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
}

.form-control {
    background-color: #f3e5f5;
    color: #333;
    border-radius: 10px;
}

.btn-primary {
    background-color: #ff85c0;
    border-color: #ff85c0;
}

a {
    color: #ff2d55;
}
