body {
    background-color: #fbeaff; 
}
.search-workouts {
    padding: 20px;
}
.card {
    margin-bottom: 20px;
    background-color: #fff; 
    border-radius: 15px;
}
.workout-filter {
    margin-bottom: 30px;
}
.form-select {
    background-color: #f3e5f5; 
    color: #333;
    border-radius: 10px;
}
.form-label {
    color: #6a0dad; 
}
.btn-primary {
    background-color: #ff85c0; 
    border-color: #ff85c0;
}
h1 {
    color: #6a0dad; 
}
.navigation-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
