body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
}

.card {
    border-radius: 10px;
    background-color: var(--card-bg-color);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.card-text {
    color: var(--card-text-color);
}

select {
    font-size: 1rem;
    padding: 10px;
}
