body {
    background-color: #f8f9fa;
}

h2 {
    color: #343a40;
}

.container {
    margin-top: 50px;
}

.list-group-item {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #e9ecef;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
