<footer class="container py-4">
    <div class="row">
        <section class="col-md-4">
            <strong class="footer-heading d-block mb-2">FitLife</strong>
            <p>Ваш путь к здоровому образу жизни</p>
        </section>

        <nav class="col-md-4">
            <strong class="footer-heading d-block mb-2">Ссылки</strong>
            <ul class="list-unstyled">
                <li><a href="../pages/workouts.html" class="text-light">Тренировки</a></li>
                <li><a href="../pages/blog.html" class="text-light">Блог</a></li>
            </ul>
        </nav>

        <section class="col-md-4">
            <strong class="footer-heading d-block mb-2">Контакты</strong>
            <ul class="list-unstyled">
                <li>Email: info@fitlife.com</li>
                <li>Телефон: +7 (800) 555-35-35</li>
            </ul>
        </section>
    </div>
</footer>