body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h2 {
    color: #000000;
}

h3 {
    margin-top: 20px;
    color: #000000;
}

.btn-primary {
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:hover {
    background-color: #000000;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 15px;
}

.modal-header {
    background-color: #000000;
    color: white;
}

.modal-body {
    padding: 20px;
}

.card p {
    margin: 0;
}
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.popup-dialog {
    background-color: transparent!important;
    box-shadow: none;
  }