@import url('./themes.css');

.about-content {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    top: 70px;
}

.about-content h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    color: var(--text-color);
}

.about-content p {
    margin-bottom: 15px;
    font-size: 1em;
    text-align: center;
    color: var(--accent-color);
}

.about-icon-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 150px; 
}

.about-icon {
    width: 100px;
    height: 100px; 
    fill: var(--secondary-color); 
}

.about-content img {
    display: block;
    margin: 0 auto;
    border-radius: 5%;
    width: 500px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
}