body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#user-image {
    width: 150px;
    height: 150px;
}

h3 {
    color: #343a40;
}

p {
    margin-bottom: 10px;
}
