* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 1% 3% 1% 3%;
}

.navbar a {
    color: #fff;
    margin: 0.5%;
    text-decoration: none;
    text-align: center;
    background-color: #333333;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: #555555;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 3% 5% 3%;
    height: auto;
}

.container p {
    margin-top: 1%;
    color: #bbb;
}

.container a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: #1d7e33;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.container a:hover{
    background-color: #333333;
}


.close {
    position: relative;
    color: white;
    cursor: pointer;
}

.main-banner-image {
    border-radius: 10px;
    overflow: hidden;
}

.main-banner-image img {
    width: 100%;
}

.popular-exercises {
    margin: 3% 3% 3% 3%;
}

.card {
    background-color: #000;
    border-color: #333333;
    border-width: 3px;
}

.video-title:hover {
    color: #1d7e33;
    cursor: pointer;
    transition: color 0.3s ease;
}

.final-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 3% 3% 3% 3%;
}


.final-info-content p {
    color: #bbb;
}

hr {
    border: none;
    background-color: #333333;
    height: 2px;
}

.semi-hr {
    margin: 0 3% 0 3%;
    background-color: #333333;
}


footer {
    text-align: center;
}

.footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-info img {
    width: 10%;
    height: 10%;
    object-fit: contain;
}

.video-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.video-modal-content {
    position: relative;
    width: 80%;
    max-width: 800px;
}

.video-modal-close-button {
    position: absolute;
    top: -70px;
    right: -70px;
    font-size: 60px;
    color: white;
    cursor: pointer;
}
