<header class="bg-light p-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="h4 mb-0">Сервис Аренды Недвижимости</h1>
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="search.html">Поиск квартир</a>
                </li>
                <li class="nav-item" id="authLinks">
                    <a class="nav-link" href="enter.html">Вход</a>
                    <a class="nav-link" href="register.html">Регистрация</a>
                </li>
                <li class="nav-item" id="userLinks">
                    <a class="nav-link" href="user.html">Личный кабинет</a>
<!--                    <button class="btn btn-link nav-link" id="logoutButton">Выход</button>-->
                </li>
            </ul>
        </nav>
    </div>
</header>
