.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffebce;
}
.header .brand {
    font-family: Quicksand, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #946A49;
}

.header .icons {
    display: flex;
    gap: 20px;
    color: #946A49;
}
.icons i {
    font-size: 30px;
    cursor: pointer;
}

.logo {
    width: 40px;
    height: auto;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.logo-link:hover {
    text-decoration: none;
    color: inherit;
}

.search-bar input:focus {
    border-color: #a0522d;
    box-shadow: 0 0 5px rgba(160, 82, 45, 0.8);
    outline: none;
}

body {
    font-family: Quicksand, sans-serif;
    background-color: #FFFAF3;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
}

video {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 20px;
}

.recipe-title {
    font-size: 36px;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #CF9363;
}

.h3{
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #946A49;
    margin-top: 10px;
}

.h4{
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #9C7F68;
    margin-top: 10px;
}

.text-recipe {
    color: #9C7F68;
}

.carousel-item img {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    object-fit: cover;
}
.rating-stars {
    color: gold;
}
.save-recipe-btn, .like-btn {
    background-color: #946A49;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.save-recipe-btn:hover, .like-btn:hover{
    background-color: #a0522d;
}

.comment {
    background-color: #FFEFD5;
    border: 1px solid #D5B69D;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #946A49;
    font-family: Quicksand, sans-serif;
}

.link{
    text-decoration: none;
    color: #946A49;
}

.link:hover{
    text-decoration: none;
    color: #7C5B3C;
}

.comment-section {
    margin-top: 40px;
}
.comment-section textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.comment-section button {
    background-color: #946A49;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-section textarea:focus {
    border-color: #a0522d;
    box-shadow: 0 0 5px rgba(160, 82, 45, 0.8);
    outline: none;
}

.modal-content {
    background-color: #FFFAF3;
    border-radius: 10px;
    border: 1px solid #946A49;
}

.modal-title {
    font-family: Quicksand, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #946A49;
}

.modal-body {
    font-family: Quicksand, sans-serif;
    color: #9C7F68;
    text-align: center;
    padding: 20px;
}

.comment-submit-btn {
    background-color: #946A49;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-submit-btn:hover {
    background-color: #7C5B3C;
}

.no-comment-modal {
    display: none;
}

.btn-close-custom {
    background-color: #946A49;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-close-custom:hover {
    background-color: #7C5B3C;
}




