body {
    font-family: Quicksand, sans-serif;
    background-color: #fff6e9;
}

.text-center{
    color: #946A49;
    font-size: 24px;
    font-weight: bold;
}

.registration-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffebce;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    color: #9C7F68;
}

.form-control:focus {
    border-color: #a0522d;
    color: #ADACAC;
    box-shadow: 0 0 5px rgba(160, 82, 45, 0.8);
    outline: none;
}

.register-btn {
    background-color: #946A49;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.register-btn:hover {
    background-color: #a0522d;
}

.register-btn a {
    color: #fff;
    text-decoration: none;
}

.form-text {
    color: #946A49;
}

.already-registered {
    text-align: center;
    margin-top: 15px;
}

.already-registered a {
    color: #a0522d;
    text-decoration: none;
}

.already-registered a:hover {
    text-decoration: underline;
}