* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 1% 3% 1% 3%;
}

.navbar a, button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0.5%;
  text-decoration: none;
  text-align: center;
  background-color: #333333;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.navbar a:hover, button:hover {
  background-color: #555555;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 3% 5% 3%;
    height: auto;
}

.container p {
    margin-top: 1%;
    text-align: left;
    color: #bbb;
}

.main-banner-image {
    border-radius: 10px;
    overflow: hidden;
}

.main-banner-image img {
    width: 100%;
}

hr {
    border: none;
    background-color: #333333;
    height: 2px;
}

.semi-hr {
    margin: 0 3% 0 3%;
    background-color: #333333;
}

.posts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.card {
    background-color: #333333;
    border: none;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card h3, p{
    text-align: center;
}

.posts {
    margin: 3% 3% 3% 3%;
}

@media (min-width: 1200px) {
    .post-card {
        flex: 0 0 32.6%;
        max-width: 32.6%;
    }
}

.post-card button {
    padding: 10px 20px;
    margin: 1% 0 0 1%;
    background-color: #1d7e33;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.post-card button:hover {
    background-color: #555;
}

.filters {
    margin: 3% 3% 0 3%;
}

.filter-section {
    margin: 1% 3% 1% 3%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    align-items: center;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.filter-section label {
    display: inline-flex;
    align-items: center;
    margin-right: 1%;
}

.filter-section input {
    margin-right: 1%;
    background-color: #555555;
}

.filter-section-date {
    background-color: #333333;
    border-radius: 5px;
    border-style: none;
    color: white;
    padding: 0.5%;
}

.filter-section select {
    padding: 5px;
    border-radius: 10px;
    background-color: #000;
    border-style: none;
    color: #bbbbbb;
}

.post-card {
    background-color: #333333;
    border-radius: 2%;
    padding: 2%;
    margin: 1% 0 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-text {
    text-align: left;
}

.modal-title {
    text-align: center;
    width: 100%;
}

.modal-body {
    padding: 3%;
}

.modal-body hr {
    background-color: white;
    width: 100%;
}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-list li {
    color: #bbbbbb;
    margin: 1% 0;
}

#comment-input {
    width: 100%;
    padding: 1%;
    margin-bottom: 1%;
}

#comment-submit {
    background-color: #1d7e33;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#comment-submit:hover {
    background-color: #333333;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.footer-info img {
    width: 10%;
    height: 10%;
    object-fit: contain;
}

.modal-content {
    background-color: #333333;
    border-radius: 10px;
    color: #fff;
}

.btn-close-white {
    filter: invert(1);
}

.btn-close:hover {
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

.icon {
    width: 15px;
    height: 15px;
    fill: #333;
    margin: 5%;
    flex-shrink: 0;
}